/* You can add global styles to this file, and also import other style files */
@import '@sfa/styles/core';
@import './app/app.theme';

.notif-success {
  color: #155724 !important; // green
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
  font-weight: bold !important;
  .mat-simple-snackbar-action {
    color: #155724 !important;
    font-weight: bold !important;
  }
}

.notif-error {
  color: #f64336 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
  font-weight: bold !important;
  .mat-simple-snackbar-action {
    color: #f64336 !important;
    font-weight: bold !important;
  }
}

.headerRightAlign {
  // display: flex;
  // justify-content: flex-end;
  // padding: 18px;
}

.headerCenterAlign {
  // display: flex;
  // justify-content: center;
  // padding: 18px;
}

.cellRightAlign {
  text-align: right;
}

.cellCenterAlign {
  text-align: center;
}

.textWrapper {
  white-space: normal !important;
  word-wrap: break-word;
  max-width: 200px !important;
}

.logo-size {
  width: auto;
  height: 35px;
}
