<div mat-dialog-title>Item Batch</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field
        fxFlex
        appearance="standard"
        *ngIf="form.value.orderItemBatchCode"
      >
        <mat-label>Order Item Batch Code</mat-label>
        <input
          type="text"
          formControlName="orderItemBatchCode"
          matInput
          required
          readonly
        />
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Order</mat-label>
        <mat-select
          formControlName="orderId"
          (ngModelChange)="setSelectedOrder(form.value.orderId)"
          required
        >
          <mat-option *ngFor="let order of orders" [value]="order.id">{{
            order.orderCode
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Item Batch</mat-label>
        <mat-select
          formControlName="itemBatchId"
          (ngModelChange)="setSelectedSalesRepItemBatch(form.value.itemBatchId)"
          required
        >
          <mat-option
            *ngFor="let itemBatch of itemBatches"
            [value]="itemBatch.itemBatchId"
            >{{ itemBatch.itemBatchName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput required />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Item Count</mat-label>
        <input
          type="number"
          formControlName="itemCount"
          matInput
          required
          max="{{
            selectedSalesRepItemBatch
              ? selectedSalesRepItemBatch.itemCount
              : 100
          }}"
        />
        <mat-hint *ngIf="selectedSalesRepItemBatch"
          >{{ selectedSalesRepItemBatch.itemCount }} items available</mat-hint
        >
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Sell To Shop Owner Price</mat-label>
        <input
          type="number"
          formControlName="sellingToShopOwnerAmount"
          matInput
          required
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Shop Owner Profit</mat-label>
        <input type="number" formControlName="shopOwnerProfitAmount" matInput />
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Company Profit</mat-label>
        <input type="number" formControlName="companyProfitAmount" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Shop Owner Discount (%)</mat-label>
        <input type="number" formControlName="shopOwnerDiscountRate" matInput />
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Company Discount (%)</mat-label>
        <input type="number" formControlName="companyDiscountRate" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Customer Free Issue</mat-label>
        <input
          type="number"
          formControlName="customerFreeIssueQuantity"
          matInput
        />
      </mat-form-field>
      <mat-form-field fxFlex appearance="standard">
        <mat-label>Shop Owner Free Issue</mat-label>
        <input
          type="number"
          formControlName="shopOwnerFreeIssueQuantity"
          matInput
        />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-slide-toggle formControlName="isSpecialDiscountHave"
        >Special Discount</mat-slide-toggle
      >
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      *ngIf="isCreateMode()"
      mat-button
      [disabled]="!form.valid"
      color="primary"
    >
      CREATE
    </button>
    <button
      *ngIf="isUpdateMode()"
      mat-button
      [disabled]="!form.valid || form.pristine"
      color="primary"
    >
      UPDATE
    </button>
  </mat-dialog-actions>
</form>
