<sfa-card class="realtime-users-widget">
  <sfa-card-header class="header" fxLayout="column">
    <sfa-card-header-heading>Active Users right now</sfa-card-header-heading>

    <div class="value">{{ currentUsers }}</div>
  </sfa-card-header>

  <sfa-card-content>
    <div class="section">
      <div class="heading">Page views per minute</div>
      <div class="canvas-content">
        <canvas #canvas></canvas>
      </div>
    </div>

    <div class="section">
      <div class="heading">Top Active Pages</div>
      <sfa-scrollbar class="pages">
        <div class="page" *ngFor="let page of pages$ | async">
          {{ page.page }}
        </div>
      </sfa-scrollbar>
    </div>
  </sfa-card-content>
</sfa-card>
